.about
    margin-top: 150px
    margin-bottom: 150px
    &-title
        margin-bottom: 100px
    &__info
        display: flex
        &-container
            margin-right: 30px
            &-title
                margin-bottom: 30px
            &-text
                font-family: Open Sans
                font-size: 14px
                line-height: 150%
        &-block
            &-title
                margin-bottom: 30px
            &-wrap
                &-text
                    font-family: Open Sans Condensed
                    font-weight: bold
                    font-size: 16px
                    line-height: 22px
                    letter-spacing: 0.05em
                    margin-top: 15px
        &-img
            margin-left: 40px