@font-face {
    font-family: 'Open Sans Condensed Light';
    src: url('OpenSansCondensed-Light.eot');
    src: url('OpenSansCondensed-Light.eot?#iefix') format('embedded-opentype'),
    url('OpenSansCondensed-Light.woff') format('woff'),
    url('OpenSansCondensed-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Condensed Bold';
    src: url('OpenSansCondensed-Bold.eot');
    src: url('OpenSansCondensed-Bold.eot?#iefix') format('embedded-opentype'),
    url('OpenSansCondensed-Bold.woff') format('woff'),
    url('OpenSansCondensed-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }