.hero
    padding-top: 200px
    padding-bottom: 200px
    &__container
        &-title
            margin-bottom: 30px
            font-weight: bold
            font-family: 'Open Sans Condensed'
            font-size: 64px
            line-height: 87px
            letter-spacing: 0.1em
            text-transform: uppercase
        &-text
            margin-bottom: 30px
            font-family: 'Open Sans'
        &-button
            background-color: #D1A954
            border-radius: 0
